@using EntityLayer.Concrete
@model List<UserRole>

    
<a asp-action="UserNewRole" asp-controller="Admin" asp-route-uid="@ViewBag.Id" class="btn btn-primary">New Role</a>

<table class="table table-bordered" style="margin-top:1%">
    <thead>

        <tr>
            <td>Name Surname</td>
            <td>Role Title</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Admin.Name @item.Admin.Surname</td>
                <td>@item.Role.Title</td>
                <td>
                    <a asp-action="RemoveRole" asp-controller="Admin" asp-route-UserId="@item.UserId" asp-route-RoleId="@item.RoleId" class="btn btn-warning">Remove</a>
                    @*  <a href="~/Admin/RemoveRole/@item.UserId,@item.RoleId" class="btn btn-warning">Remove</a> *@
                </td>
            </tr>
        }

    </tbody>
</table>