@using EntityLayer.Concrete
@model News


<div class="container">

    <div class="container  col-8">

    @Html.Label("Title")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})

    @Html.Label("Author")
    @Html.TextBoxFor(x=>x.Author,new{@class="form-control"})

    @Html.Label("Content")
    @Html.TextBoxFor(x=>x.Content,new{@class="form-control"})

    @Html.Label("Publish Date")
    @Html.TextBoxFor(x=>x.PublishDate,new {@class="form-control"})

    @Html.Label("Source")
    @Html.TextBoxFor(x=>x.Source,new {@class="form-control"})

    <br />
    <br />
  

</div>

</div>
