@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<New>

<style>
    #News-Table {
        margin-top: 2%;
        text-align: center;
        background-color: #F1EFEF;
    }
    td{
        overflow:hidden;
    }

    
    
</style>


<a href="~/News/CreateNews" class="btn btn-primary">Create New</a>


<table id="News-Table" class="table table-bordered">

    <tr>
        @*  <th>News Id</th> *@
        <th>Title</th>
        <th>Content</th>
        <th>Publish Date</th>
        <th>Category Name</th>
        <th>Source</th>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {



        <tr>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.PublishDate.Substring(0,10)</td>
            <td>@item.CategoryId</td>
            <td>@item.Source</td>
            <td> <a href="~/News/EditNews/@item.New_Id" class="btn btn-success">Edit</a>       </td>
            <td> <a href="~/News/DeleteNews/@item.New_Id" class="btn btn-danger">Delete</a>       </td>

        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index","News", new {page}))